* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    /* background-image: url("https://picsum.photos/1600/900");
    background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow: hidden;

}

.video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;


    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
}

.container {
    padding: 20px;
    background-color: #ffffffe8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;

    .your-vs-alexa {
        margin: 80px 0 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        >div {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;

            p span {
                font-size: 20px;
            }

            .hand-player {
                z-index: 10;
                position: absolute;
                top: -70px;
                left: -100px;
                opacity: 0;
                transform: rotateY(180deg);
                width: 150px;
                transition: all 0.4s ease-in-out;
            }

            .hand-alexa {
                z-index: 10;
                width: 150px;
                position: absolute;
                top: -70px;
                right: -100px;
                opacity: 0;
                width: 150px;
                transition: all 0.4s ease-in-out;
            }

            .show-player {
                z-index: 10;
                left: 0px;
                opacity: 1;
            }

            .show-alexa {
                z-index: 10;
                right: 0px;
                opacity: 1;
            }

        }
    }
}

.buttons {
    margin: 30px 0;
    display: flex;
    gap: 40px;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

button:hover {
    opacity: 0.7;
}


#rock {
    background-color: #a200ff;
}

#paper {
    background-color: #9ee01a;
}

#scissors {
    background-color: #7dbeed;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.your-score span {
    color: rgb(52, 121, 195);
}

.machine-score span {
    color: rgb(144, 54, 85);
}

.music {
    button {
        margin-top: 50px;
        font-size: 15px;
        background-color: aqua;
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.bg-tied {
    background-color: rgb(242, 230, 59);
}

.bg-loses {
    background-color: rgb(191, 40, 32);
}

.bg-win {
    background-color: rgb(85, 118, 20);
}


@media (max-width: 900px) {
    .video {
        display: none;
    }

    body {
        background-image: url("https://picsum.photos/1600/900");
        background-size: cover;
    }

}